<app-header></app-header>

<h2 class="title">Users GET</h2>

<mat-spinner *ngIf="!isPageLoaded"
             diameter="30"
             [ngStyle]="{ 'position': 'absolute',
                          'z-index': '1000',
                          'pointer-events': 'none',
                          'display': 'block',
                          'top': cursorPosition.top,
                          'left': cursorPosition.left}
                          ">
</mat-spinner>

<div class="container mat-elevation-z8">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell class="column column--id" *matHeaderCellDef> Id</mat-header-cell>
      <mat-cell class="column column--id" *matCellDef="let element">
        <span class="mobile-label">Id:</span>
        {{element.id}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell class="column column--email" *matHeaderCellDef> Email</mat-header-cell>
      <mat-cell class="column column--email" *matCellDef="let element">
        <span class="mobile-label">Email:</span>
        {{element.email}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="first_name">
      <mat-header-cell class="column" *matHeaderCellDef> First Name</mat-header-cell>
      <mat-cell class="column" *matCellDef="let element">
        <span class="mobile-label">FirstName:</span>
        {{element.first_name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <mat-header-cell class="column" *matHeaderCellDef> Last Name</mat-header-cell>
      <mat-cell class="column" *matCellDef="let element">
        <span class="mobile-label">LastName:</span>
        {{element.last_name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="avatar">
      <mat-header-cell *matHeaderCellDef> Avatar</mat-header-cell>
      <mat-cell *matCellDef="let element"><img [src]="element.avatar" alt="avatar"></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="totalUsers" [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>
</div>
