<h2 matDialogTitle>Sign In</h2>

<div class="note">
  <p>This app uses <a href="https://reqres.in/" target="_blank" rel="noopener noreferrer">reqres.in</a> API.</p>
  <p>To log in use:</p>
  <ul>
    <li>email: <span class="field">"eve.holt@reqres.in"</span></li>
    <li>password: <span class="field">"cityslicka"</span></li>
  </ul>
</div>
<mat-dialog-content>
  <mat-form-field class="form-field">
    <input matInput placeholder="Enter your email" [formControl]="email" required>
    <mat-icon matSuffix>mode_edit</mat-icon>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field class="form-field">
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-raised-button
    mat-dialog-close
    color="primary"
    class="button"
    title="Sign in"
    (click)="logIn()">Sign In
  </button>
  <button
    mat-raised-button
    mat-dialog-close
    class="button"
    title="Sign Up"
    (click)="register()">Sign Up
  </button>
</mat-dialog-actions>
