.button {
  flex-grow: 1;
  margin-bottom: 1.5rem;
}

.form-field:not(:first-child) {
  margin-left: 1rem;
}

.note {
  margin-bottom: 1rem;
  font-size: 12px;
  line-height: 1.5;
  color: #aaaaaa;
}

.note p {
  margin: 0;
}

.field {
  font-weight: bold;
}

@media(max-width: 600px) {
  .form-field {
    width: 100%;
  }
  .form-field:not(:first-child) {
    margin-left: 0;
  }
}
