<h2 matDialogTitle>Workman creation</h2>

<mat-dialog-content [formGroup]="formGroup">
  <mat-form-field class="form-field">
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>
  <mat-form-field class="form-field">
    <input matInput placeholder="Job" formControlName="job">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close (click)="submit()" class="button">Submit</button>
  <button mat-raised-button mat-dialog-close class="button">Cancel</button>
</mat-dialog-actions>
